* {
    box-sizing: border-box;
}

body {
    
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    background-image: url("bandg.png");
}

.hintergrund {

    background-color: rgba(23, 90, 23, 0.87);
    padding: 10px;
}

.BIGBOX {

    max-width: 70%;
} 

p {
    padding: 10px;
}

/* .invInfo {

    width: 20rem;
    height: auto;
    background-color: brown;
    padding: 1rem;


} */
