* {
    box-sizing: border-box;
}

body {
    
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}

.BIGBOX {

    display: grid;

    grid-template-columns: 50% 50%;
}

.invInfo {

    width: 20rem;
    height: auto;
    background-color: brown;
    padding: 1rem;


}